<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crocodic.uts_afif_4508">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Kasir Super Resto"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.PemesananActivity"
            android:label="Kasir Super Resto">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.SettingHargaActivity"
            android:label="Setting Harga" />
        <activity android:name=".main.StrukActivity"
            android:label="Struk Pembelian"></activity>
    </application>

</manifest>